<form>
    <div class="alerts"></div>
    <div class="control-group email">
        <label>To:</label>
        <input type="text" id="to">
        <span class="help-inline"></span>
    </div>
    <div class="control-group to">
        <label>CC:</label>
        <input type="text" id="cc">
        <span class="help-inline"></span>
    </div>
    <div class="control-group subject">
        <label>Subject:</label>
        <input type="text" class="input-xxlarge" id="subject">
        <span class="help-inline"></span>
    </div>
    <div class="control-group message">
        <label>Message</label>
        <textarea id="message" class="input-xxlarge" placeholder="Feedback text..." rows="6"></textarea>
        <span class="help-inline"></span>
    </div>
    <button type="submit" id="send" class="btn">Send</button>
</form>
