<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" type="text/css" href="<%= mainCss %>">
		<script type="text/javascript" src="/components/requirejs/require.js" data-main="<%= mainJs %>"></script>
	</head>
	<body>
	<div class="navbar">
		<div class="navbar-inner">
			<a class="brand" href="/">Backbone SPA</a>
			<ul class="nav">
				<li><a href="/inbox">Inbox</a></li>
				<li><a href="/contacts">Contacts</a></li>
				<li><a href="/tasks">Tasks</a></li>
			</ul>
		</div>
	</div>
	<div class="container">
		<div id="app" class="container" data-transition="fadeOutLeft"></div>
	</div>
	</body>
</html>