<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" type="text/css" href="components/bootstrap/docs/assets/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="components/bootstrap/docs/assets/css/bootstrap-responsive.css">

		<script type="text/javascript" src="components/requirejs/require.js" data-main="js/main.js"></script>
	</head>
	<body>
	<div class="navbar">
		<div class="navbar-inner">
			<a class="brand" href="/home">Backbone SPA</a>
			<ul class="nav">
				<li><a href="/dashboard">Dashboard</a></li>
				<li><a href="/blog">Blog</a></li>
			</ul>
		</div>
	</div>
	<div class="container">
		<div id="app" class="container"></div>
	</div>
	</body>
</html>